---
layout: home
title: Home
---

<section class="max-w-2xl mb-10">
    <p>Eos totam sed rerum voluptates dicta perspiciatis aut rerum expedita repudiandae consequatur voluptatum et. Accusamus dolorem id qui quam pariatur. Aut qui illo et dolores sunt laborum odit minima iusto. Numquam iste molestias sequi id.</p>
</section>
  
<section class="">
{% for post in site.posts %}
{% if post.url %}

<a href="{{ post.url }}" class="flex -mx-3 p-3 rounded-md hover:bg-[#111] transition-all">
<h2 class="w-6/12 m-0">{{ post.title }}</h2>
<p class="w-4/12 m-0 text-[#666]">{{ post.tags }}</p>
<p class="w-1/12 m-0 text-[#666]" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b" }}</p>
<p class="w-1/12 m-0 text-[#666] text-right" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y" }}</p>
</a>

{% endif %}
{% endfor %}
</section>

<!-- <p>{{ post.excerpt }}</p> -->
<!-- <p>{{ post.category }}</p> -->
<!-- <p>{{ post.tags }}</p> -->
<!-- <p class="w-4/12">{% if post.featured-image %}{% include post-featured-image.html
    image=post.featured-image alt=post.featured-image-alt %}{% endif %}</p> -->
