---
layout: page
title: Notes
---

<section class="post-index">
    <ul>
        {% for post in site.categories.note %}
        {% if post.url %}
        <li>
        <a href="{{ post.url }}">
            <h2>{{ post.title }}</h2>
            <div class="spacer-rule"></div>
            <div class="meta">
                <p>{{ post.tags }}</p>
                <p>/</p>
                <p datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %Y" }}</p>
            </div>
        </a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</section>

