---
layout: page
title: Notes
---

<section class="">
{% for post in site.categories.note %}
    {% if post.url %}
    
<a href="{{ post.url }}" class="group flex py-3 border-b border-[#ddd]">
<h2 class="w-6/12 m-0 font-headlinelight text-xl text-[#333] group-hover:text-[#111] transition-all group-hover:translate-x-2">{{ post.title }}</h2>
<p class="w-4/12 m-0 font-sanslight text-[#999] group-hover:text-[#111] transition-all">{{ post.tags }}</p>
<p class="w-1/12 m-0 font-sanslight text-[#999] group-hover:text-[#111] transition-all" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b" }}</p>
<p class="w-1/12 m-0 font-sanslight text-[#999] group-hover:text-[#111] transition-all text-right" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y" }}</p>
</a>
    
    {% endif %}
{% endfor %}
</section>

