---
layout: page
title: Sketchbook
---


<section class="grid grid-cols-2 gap-8">
    {% for post in site.categories.feed %}
        {% if post.url %}
        
    <a href="{{ post.url }}" class="rounded-md transition-all">
    <figure>
    {% if post.featured-image %}{% include post-featured-image.html image=post.featured-image alt=post.featured-image-alt %}{% endif %}
    <figcaption>
        <p class="text-[#666] font-sanslight">{{ post.title }}</p>
    </figcaption>
    </figure>
    </a>
        
        {% endif %}
    {% endfor %}
</section>