---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica;
  }



main {
    article p {
        margin: 0 0 1.5rem 0;
    }

    div {
        h1, h2, h3, h4, p, ul, ol {
            margin: 0 0 1.5rem 0;
        }
        h1, h2, h3, h4 {
            font-weight: bold;
        }
        ul, ol {
            display: flex;
            flex-direction: column;
            list-style: auto;
            list-style-position: outside;
            margin-left: 3rem;
            gap: .5rem;
        }
        a {
            text-decoration: none;
        }
    }
}