---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

article p {
    margin: 0 0 1.5rem 0;
}

@font-face {
    font-family: 'Pitch';
    src: url('../assets/test-pitch-regular.woff2');
}

@font-face {
    font-family: 'PitchSans';
    src: url('../assets/test-pitch-sans-regular.woff2');
}

@font-face {
    font-family: 'PitchSansBold';
    src: url('../assets/test-pitch-sans-bold.woff2');
}

main {
    div {
        h1, h2, h3, h4, p, ul, ol {
            font-weight: normal;
            margin: 0 0 1.5rem 0;
        }
        h1, h2, h3, h4 {
            font-family: 'PitchSansBold';
        }
        strong {
            font-weight: normal;
        }
        ul, ol {
            display: flex;
            flex-direction: column;
            list-style: auto;
            list-style-position: outside;
            margin-left: 3rem;
            gap: .5rem;
        }
        a {
            text-decoration: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
    }
}