<!doctype html>
<html lang="en">

{% include head.html %}

<body id="top">

  <div class="wrapper">

    {% include header.html %}
    
    <main>
        {{ content }}
    </main>

    {% include footer.html %}

</div>

<script>
// add event listener on load
window.addEventListener('load', function() {
// scroll to top
document.querySelector('.js-scroll-to-top').addEventListener('click', function(e) {
  e.preventDefault();
    document.querySelector('#top').scrollIntoView({ behavior: 'smooth' });
  });
});
</script>
</body>
</html>
