<!doctype html>
<html lang="en">

  {% include head.html %}

  <body id="top" class="antialiased h-full bg-black text-sm text-white font-mono">

    <div class="w-full min-h-dvh p-10">

      <header class="flex justify-between mb-10">
        <h1 class="">
          <a href="{{ site.baseurl }}/" class="text-white" title="Home">{{ site.title }}</a>
        </h1>
        <nav class="flex">
          <ul class="flex gap-6">
            <li><a href="/about/" class="text-[#999] hover:text-white transition-all">About</a></li>
            <!-- <li><a href="/" class="text-[#999] hover:text-white transition-all">Projects</a></li> -->
            <li><a href="https://photos.justinkropp.com" class="text-[#999] hover:text-white transition-all">Photos</a></li>
          </ul>
        </nav>
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="flex justify-between mt-10">
          <p>&copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.</p>
          <p><a href="#top">Top</a></p>
      </footer>

    </div>

    {% if site.ga_analytics %}
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
       ga('create', '{{ site.ga_analytics }}', 'auto');
       ga('send', 'pageview');
     </script>
    {% endif %}
  </body>
</html>
