<!doctype html>
<html lang="en">

{% include head.html %}

<body id="home">
    
<div class="container">
<p>Justin Kropp is a graphic designer. He studied design at Maryland Institute College of Art, where he received his MFA in Graphic Design in 2010.</p>

<p>Currently designing at Vercel, previously at Modern Treasury, Okta, and Mozilla. He creates human-centered design solutions through cross-functional collaboration, working across the product development cycle from research to implementation.</p>
</div>

</body>
</html>
