<!doctype html>
<html lang="en">

{% include head.html %}

<body id="top">

<div class="wrapper">
    
<main>

<p>Justin Kropp is a graphic designer and writer. He studied design at Maryland Institute College of Art, where he received his MFA in Graphic Design.</p>

<p>Currently designing at Vercel, previously at Modern Treasury, Okta, and Mozilla. He creates human-centered design solutions through cross-functional collaboration, working across the product development cycle from research to implementation.</p>

</main>

</div>

</body>
</html>
