---
layout: default
---

<section class="flex flex-col gap-4 max-w-xl m-auto">
    <h2 class="leading-4 text-[#666]">{{ page.title }}</h2>
    <p class="leading-4">{{ page.content }}</p>
    <div class="flex flex-row justify-between">
        <time class="leading-[24px] text-[#666]">{{ page.date | date: "%b %Y" }}</time>
        <a href="#" class="text-[#666]">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
        </a>
    </div>
</section>
