---
layout: default
---

<article class="">

  <header class="mb-10">
    <h2 class="mb-1 font-[400]">{{ page.title }}</h2>
    <p datetime="{{ page.date | date_to_xmlschema }}" class="text-[#666]">{{ page.date | date_to_string }}</p>
  </header>

  <div class="max-w-xl leading-6">
    {{ content }}
  </div>

</article>

<!-- {% if site.related_posts != empty %}
<aside class="related">
  <h3>Related posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %} -->
